<form method="post" action="{{ path('documentacion_adjunta_delete', {'id': documentacion_adjuntum.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ documentacion_adjuntum.id) }}">
    <button class="btn">Delete</button>
</form>
